.fondoDePagina{
    background-color:white;
}
.barraAmarilla{
    position: absolute;
    width: 1348px;
    height: 8px;
    background-color: #fdd306;
    top: 0px;
    left: 0px;
}
/*el header*/
.cajaDContenedoraHeader{
    position: absolute;
    width: 1348px;
    height: 136px;
    left: 0px;
}
.medidasContenedorMenu{
    position: absolute;
    left: 400px;
    width: 880px;
    top: 0px;
}
.imagenLogo{
    position: absolute;
    left: 0px;
    top: 16px;
    width: 296px;
    height: 102px;
}    
.posMenu{
    text-align: right;
    margin: 24px;
}

.visualizacionEnBloque{
    display:inline-block;
}

.usuarioLogeado{
    text-decoration:none;
    color:inherit;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;

    padding:24px 48px;
    background-color:#000;
    border:1px solid #e5e5e5;
    text-align:center;
    color:#333;


    background: #19c3e3;
    flex-direction: row;
    display: flex;
    margin-right: 24px;
    position: absolute;
    left: -128px;
    top: 8px;
}
.boton{
    text-decoration:none;
    color:inherit;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
    
    padding:24px 48px;
    background-color: white;
    border:1px solid #e5e5e5;
    border-radius: 8px;
    text-align:center;
    color:#717170;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 24px;
}
.colorSalir{
    background-color: #e74c3c;
    color: #fff;
}
/*tipografia de numero y descuento*/
.numeroDescuento{
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    line-height: 8px;
    align-items: flex-end;
    text-align: center;
}

.letraDescuento{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    
    font-size: 32px;
    line-height: 60px;
   
    align-items: flex-end;
    text-align: center;
}

.letraFarmacia{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 0px;
    
    align-items: flex-end;
    text-align: left;
}
.letraDireccion{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 24px;
    
    align-items: flex-end;
    text-align: left;
}
.letraFechaDeVencimiento{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    
    align-items: flex-end;
    text-align: left;
}
.efectoParaCupones{
    border:1px solid #000;
    border-style: dotted;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*posiciones descuento 1*/
.medidaYPosicionCajaDescuento1{
    
    position: absolute;
    width: 624px;
    height: 144px;
    left: 48px;
    top: 200px;
    
    background-color: #fdd306;
}
.medidaYPosicionCajaSucursal1{
    
    position: absolute;
    width: 624px;
    height: 144px;
    left: 672px;
    top: 200px;
    background-color: #fdd306;
}
.medidaYPosicionDescuentoNumero1{
    position: absolute;
    width: 90px;
    height: 72px;
    left: 266px;
    top: 0px;
}
.medidaYPosicionLetraDescuento1{
    position: absolute;
    width: 296px;
    height: 60px;
    left: 164px;
    top: 60px;
}
.medidaYPosicionNombreFarmacia1{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.medidaYPosicionDireccionFarmacia1{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 32px;
    
}
.medidaYPosicionFechaVencimiento1{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 72px;
}
/*posiciones descuento 2*/
.medidaYPosicionCajaDescuento2{
    position: absolute;
    width: 624px;
    height: 144px;
    left: 48px;
    top: 360px;
    margin-top: 24px;
    background-color: #fdd306;
}
.medidaYPosicionCajaSucursal2{
    position: absolute;
    width: 624px;
    height: 144px;
    left: 672px;
    top: 360px;
    margin-top: 24px;
    background-color: #fdd306;    
}
.medidaYPosicionDescuentoNumero2{
    position: absolute;
    width: 90px;
    height: 72px;
    left: 266px;
}
.medidaYPosicionLetraDescuento2{
    position: absolute;
    width: 296px;
    height: 60px;
    left: 164px;
    top: 60px;
}

.medidaYPosicionNombreFarmacia2{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.medidaYPosicionDireccionFarmacia2{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 32px;
}
.medidaYPosicionFechaVencimiento2{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 72px;
}
/*posiciones descuento 3*/
.medidaYPosicionCajaDescuento3{
    position: absolute;
    width: 624px;
    height: 144px;
    left: 48px;
    top: 544px;
    margin-top: 24px;
    background-color: #fdd306;
}

.medidaYPosicionCajaSucursal3{
    position: absolute;
    width: 624px;
    height: 144px;
    left: 672px;
    top: 544px;
    margin-top: 24px;
    background-color: #fdd306;
}
.medidaYPosicionDescuentoNumero3{
    position: absolute;
    width: 90px;
    height: 72px;
    left: 266px;
    top: 0px;
}
.medidaYPosicionLetraDescuento3{
    position: absolute;
    width: 296px;
    height: 60px;
    left: 164px;
    top: 60px;
}
.medidaYPosicionNombreFarmacia3{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.medidaYPosicionDireccionFarmacia3{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 32px;
}
.medidaYPosicionFechaVencimiento3{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 72px;
}