.fondoDePagina{
    background-color:white;
}
/*el header*/
.cajaDContenedoraHeader{
    position: absolute;
    width: 1408px;
    height: 136px;
    left: 0px;
}
.posicionBarraMenu{
    position: absolute;
    left: 480px;
    width: 880px;
    top: 0px;
}
.imagenLogo{
    position: absolute;
    left: 0px;
    top: 16px;
    width: 296px;
    height: 102px;
}    
.pos{
    text-align: right;
    margin: 24px;
}

.posicionDeCajasDeHeader{
    display:inline-block;
}

.usuarioLogeado{
    text-decoration:none;
    color:inherit;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;

    padding:24px 48px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#717170;


    background: white;
    flex-direction: row;
    display: flex;
    margin-right: 24px;
    position: absolute;
    left: -112px;
    top: 24px;
}
.boton{
    text-decoration:none;
    color:inherit;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
    
    padding:24px 48px;
    background-color: white;
    border:1px solid #e5e5e5;
    border-radius: 8px;
    text-align:center;
    color:#717170;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 24px;
}
.colorSalir{
    background-color: #e74c3c;
    color: #fff;
}
/*tipografia de numero y descuento*/
.numeroDescuento{
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    line-height: 8px;
    align-items: flex-end;
    text-align: center;
}

.letraDescuento{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    
    font-size: 32px;
    line-height: 60px;
   
    align-items: flex-end;
    text-align: center;
}

.letraFarmacia{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 0px;
    
    align-items: flex-end;
    text-align: left;
}
.letraDireccion{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 24px;
    
    align-items: flex-end;
    text-align: left;
}
.letraFechaDeVencimiento{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    
    align-items: flex-end;
    text-align: left;
}
.efectoParaCupones{
    background-color:#EAE9E9;
    border:1px solid #000;
    border-style: dotted;
}
/*posiciones descuento 1*/
.posicionCajaDescuento1{
    
    position: absolute;
    width: 624px;
    height: 144px;
    left: 64px;
    top: 338px;
    margin-left: 64px;
}
.posiocionCajaSucursal1{
    
    position: absolute;
    width: 624px;
    height: 144px;
    left: 688px;
    top: 338px;
}
.posDescuentoNumero1{
    position: absolute;
    width: 90px;
    height: 72px;
    left: 266px;
    top: 0px;
}
.posLetraDescuento1{
    position: absolute;
    width: 296px;
    height: 60px;
    left: 164px;
    top: 60px;
}
.posNombreFarmacia1{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.posDireccionFarmacia1{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 32px;
    
}
.posFechaVencimiento1{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 72px;
}
/*posiciones descuento 2*/
.posicionCajaDescuento2{
    position: absolute;
    width: 624px;
    height: 144px;
    left: 64px;
    top: 506px;
    margin-left: 64px;
}
.posDescuentoNumero2{
    position: absolute;
    width: 90px;
    height: 72px;
    left: 266px;
}
.posLetraDescuento2{
    position: absolute;
    width: 296px;
    height: 60px;
    left: 164px;
    top: 60px;
}
.posiocionCajaSucursal2{
    position: absolute;
    width: 624px;
    height: 144px;
    left: 688px;
    top: 506px;

    
}
.posNombreFarmacia2{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.posDireccionFarmacia2{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 32px;
}
.posFechaVencimiento2{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 72px;
}
/*posiciones descuento 3*/
.posicionCajaDescuento3{
    position: absolute;
    width: 624px;
    height: 144px;
    left: 64px;
    top: 674px;
    margin-left: 64px;
}

.posiocionCajaSucursal3{
    position: absolute;
    width: 624px;
    height: 144px;
    left: 688px;
    top: 674px;
}
.posDescuentoNumero3{
    position: absolute;
    width: 90px;
    height: 72px;
    left: 266px;
    top: 0px;
}
.posLetraDescuento3{
    position: absolute;
    width: 296px;
    height: 60px;
    left: 164px;
    top: 60px;
}
.posNombreFarmacia3{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.posDireccionFarmacia3{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 32px;
}
.posFechaVencimiento3{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 72px;
}